/*Fuente de Logo*/
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Stardos+Stencil:wght@400;700&display=swap');

.stardos-stencil-regular {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
}
.piazzolla{
    font-family: 'Piazzolla';
    font-style: normal;
    font-weight: 100 900;
}

/* Reseteo de propiedades */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Regla para que siempre tenga el 100 del contenedor osea el figure */
img{
    width: 100%;
    height: 100%;
}
a{
    font-family: "Stardos Stencil";
}
body{
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6;
    background-color: #E1EBED;
}





/* Estilos de todo el nav, ordenado en grillas */
nav{
    grid-column: 1/13;
    grid-row: 1;
    display: grid;
    
    padding: 5px;
    color: white;
    background-color: #243A69;
}
.logo{
    grid-column: 1/4;
    display: flex;
}
.logo a{
    align-self: center;
    font-size: 30px;
    margin: 5px;
    color: white;
    text-decoration: none;
}
.logo a:hover{
    color: aqua;
}
.logo img{
    border-radius: 50px;
    width: 60px;
    padding: 3px;
}
.user{
    grid-column: 13/13;
    display: flex;
    justify-content:center;
    
}
.user a{
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 15px;
    border: none;
}

.menu_list ul a{
    color: black;
    text-decoration: none;
}
/* Fin de estilos del nav */
/*comienzo de cabecera*/
h1,
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.iconopregunta{
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    padding: 20px 20px 20px 80px
}
.ppp{
    width: 100px;
    padding: 5px;
}

.question{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    margin: 10% 3% 0% 70%;
    border: solid;
    padding: 2% 0% 2% 5%;
    border-radius: 10px;
    background-color: white;

}

.indice{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    float: right;
    margin: 9% 8% 0% 0%;
    padding: 0% 2% 0% 2%;
    border: solid #E87A00;
    background-color: #E87A00;
    border-radius: 10px;
}

/*Comienzo del main*/
.container{
    width: 90%; 
    margin: 100px auto;
}
.container-faq{
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, .1);
    padding: 30px;
}
.container-faq .tittle-flaq{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}
.container-faq .item-faq{
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    border-radius: 10px;
}
.container-faq .item-faq .preguntas{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(43, 51, 122, .2);
    padding: 20px 20px 20px 80px;
}
.container-faq .item-faq .preguntas .more{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px -1px rgba(0, 0, 0, .2);
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
}
.container-faq .item-faq .preguntas .more:hover{
    box-shadow: 0 0 15px -1px black;
}
.container-faq .item-faq .preguntas span{
    position: absolute;
    left: 25px;
    font-size: 3rem;
    top: 2px;
}
.container-faq .item-faq .respuesta{
    position: relative;
    padding: 0px 20px 0px 80px;
    overflow: hidden;
    height: 0;
    transform: .4s;
}
.container-faq .item-faq .respuesta p {
    font-size: 1.2rem;

}
.container-faq .item-faq .respuesta .registro {
    font-size: 1.2rem;
}


footer {
    background-color: #243A69;
    color: white;
    padding: 40px 0;
    font-size: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1400px;
    margin: 50px auto;
}

.footer-info, .footer-social, .footer-contact {
    width: 30%;
    height: 30%;
}

.footer-info h4, .footer-social h4, .footer-contact h4 {
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center; /* Centra el texto de los títulos */
    position: relative; /* Necesario para colocar la línea correctamente */
    
}
.footer-info h4::after, .footer-social h4::after, .footer-contact h4::after {
    content: "";
    display: block;
    width: 90%; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: white; /* Color de la línea */
    margin: 10px auto 0; /* Espaciado entre el título y la línea */
}

.footer-info ul {
    list-style:none;
    padding: 0;
    margin: 10px;
    align-items: flex-start;
}

.footer-info li {
    margin-bottom: 10px;
}

.footer-info a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;

}

.footer-info a:hover {
    text-decoration: underline;
}

/* Estilos para redes sociales */

.footer-social{
    text-align: center; /* Centra el contenido de la sección de redes */

}
.footer-social a {
    display:inline-block;
    color: white;
    font-size: 50px;
    margin: auto 15px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #ccc;
}

/* Estilos para el formulario */
.footer-contact form {
    display: flex;
    flex-direction: column;
}

.footer-contact input, .footer-contact textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

.footer-contact input::placeholder, .footer-contact textarea::placeholder {
    font-size: 14px;
}

.footer-contact button {
    background-color: #24508F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    width: 81%;
    font-size: 15px;
    font-weight: bold;
}

.footer-contact button:hover {
    background-color: #3A4D6B;
}

/* Estilos para el copyright */
.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

/* Footer */
