.stardos-stencil-regular {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
}
.piazzolla{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100 900;
}

figure{
    margin: 5px;
}

/* Regla para que siempre tenga el 100 del contenedor osea el figure */
img{
    width: 100%;
    height: 100%;
}
a{
    font-family: "Roboto";
}
body{
    background-color:#E1EBED;
    margin:0px
}




/* Estilos de todo el nav*/
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: white;
    background-color: #243A69;
}
.logo{
    display: flex;
}
.logo a{
    align-self: center;
    font-size: 30px;
    margin: 5px;
    color: white;
    text-decoration: none;
}
.logo a:hover{
    color: #E87A00;
}
.logo img{
    border-radius: 50px;
    width: 70px;
    height: 70px;
    padding: 3px;
}
.user{
    display: flex;
    justify-content:center;
    
}
.user a{
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 15px;
    border: none;
}
.user_menu{
    display: none;
    position: absolute;
    top: 60px; left: 83%;
}





.perfil-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

.perfil1{ /* Comienzo de los estilos de la primera seccion*/
    background-color: white;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 60vh ;
    height: auto;
    margin-left: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1) ;
}
.perfil1 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px;
}

.perfil1 h1{
    font-size:2em;
}

.perfil1 i{
    color: #E87A00;
    margin: 5px;
}

.perfil1 .datos-personales{
    text-align: left;
    margin-top: 50px;
    margin-left: 35px;
    font-weight: bold;
}
.perfil-info{
    font-size: 1.5em;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 25px ;
}

.perfil-info p {
    margin: 15px
}
.perfil-info div{
    display: flex;
    align-items: center;
}
.perfil-info div i {
    margin-right: 15px;
    color: #ff5900;
}

.perfil1 .datos-contacto{
    text-align: left;
    margin-top: 20px;
    margin-left: 35px;
    font-weight: bold;

}
.perfil-contact{
    display: flex;
    flex-direction:column;
    justify-content:center;
    margin-left: 35px;
    font-size: 1.5em;
    font-weight: lighter;
}
.perfil-contact div{
    display: flex;
    align-items: center;

}
.perfil-contact div i {
    margin-right: 15px;
    color: #ff5900;
}

/* Fin de la primera seccion*/




.perfil2{ /* Comienzo de la segunda seccion*/ 
    background-color: white;
    color: rgb(71, 65, 65);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 1000px ;
    height: min-content;
    text-align: center;
    border-radius: 20px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1) ;
}

.tab_box{
    background-color: #E1EBED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tab_box .tab_btn{
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(88, 83, 83);
    background-color:white;
    width: 500px;
    height: 50px;
    border-style: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;

}

.tab_box .tab_btn.active{
    color: white;
    background-color: #E87A00;
}

.content_box .content{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 20px 50px;
}

.content_box .content{
    display: none;
    animation: moving .5s ease;
}

@keyframes moving{
    from{transform: translateX(50px);opacity:0};
    to{transform: translateX(0px);opacity:1}
}

.content_box .content.active{
    display:block;
}

.content_box .content h2{
    text-align: left;
    font-size: 1.5em;
}

.content_box .content p {
    text-align: justify;
    font-size: 1.3em;
    font-weight: lighter;
    margin: 20px;
}

.content_box .content li{
    text-align: justify;
    font-size: 1.3em;
    font-weight: lighter;
    margin: 20px;
}


.content_box .content img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    margin: 10px;
    transition: all 300ms;
}

.content_box .content img:hover{
    transform:scale(1.25);
}



/* Comienzo de la seccion de reputacion*/
.reputacion{
    color: black;
    font-family: "Roboto", sans-serif;
    width:auto;
    height: auto;
    padding:5px;
    margin: 30px;
}
.opiniones h1{
    color: #000000;
    font-size: 2.5em;
    text-align:center;
    padding: 10px;
    margin-bottom: 50px;

}
.comentarios{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card-profesional{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100px;
    margin-bottom: 50px;
    
}
.img-profesional img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 50px;
    margin-left: 80px;
}
.nombre-usuario-opinion{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nombre-usuario-opinion h2{
    font-size: 1.5em;
    margin-right: 30px;
}

.nombre-usuario-opinion i {
    margin-right: 10px;
    color: #E87A00;
} 

.conteiner-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.conteiner-info .text-opinion{
    font-size: 1em;
    margin-top: 0px;
}
.conteiner-info .text-tiempo{
    font-size: 1em;
    color: #716d6d;
    padding-top: 0px;
    margin-top: 0px;
}
.btn-comments button{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 220px;
    color:white;
    background-color:#E87A00;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;

}



/* Estilos para el footer */
footer {
    background-color: #243A69;
    color: white;
    padding: 40px 0;
    font-size: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: "Roboto";
    max-width: 1400px;
    margin: 50px auto;
}

.footer-info, .footer-social, .footer-contact {
    width: 30%;
    height: 30%;
}

.footer-info h4, .footer-social h4, .footer-contact h4 {
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center; /* Centra el texto de los títulos */
    position: relative; /* Necesario para colocar la línea correctamente */
    
}
.footer-info h4::after, .footer-social h4::after, .footer-contact h4::after {
    content: "";
    display: block;
    width: 90%; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: white; /* Color de la línea */
    margin: 10px auto 0; /* Espaciado entre el título y la línea */
}

.footer-info ul {
    list-style:none;
    padding: 0;
    margin: 10px;
    align-items: flex-start;
}

.footer-info li {
    margin-bottom: 10px;
}

.footer-info a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;

}

.footer-info a:hover {
    text-decoration: underline;
}

/* Estilos para redes sociales */

.footer-social{
    text-align: center; /* Centra el contenido de la sección de redes */

}
.footer-social a {
    display:inline-block;
    color: white;
    font-size: 50px;
    margin: auto 15px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #ccc;
}

/* Estilos para el formulario */
.footer-contact form {
    display: flex;
    flex-direction: column;
}

.footer-contact input, .footer-contact textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

.footer-contact input::placeholder, .footer-contact textarea::placeholder {
    font-size: 14px;
}

.footer-contact button {
    background-color: #24508F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    width: 81%;
    font-size: 15px;
    font-weight: bold;
}

.footer-contact button:hover {
    background-color: #3A4D6B;
}

/* Estilos para el copyright */
.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

/* Footer */


@media (max-width:1400px) {
    .perfil-container{
        display:block;
        justify-content: center;
    }
    .perfil1{
        width:100%;
        margin:55px;
        justify-content: center;
        align-items: center;
        
        }   
    .perfil2{
            width:100%;
            margin:55px;
            }   
}

@media (max-width:850px){
    .conteiner-info{
        display:block;
        width:100%;
        margin-bottom:80px;

    }
    .comentarios{
        justify-content:left;
    }
    .nombre-usuario-opinion{
        font-size: 0.8em;
        margin-top: 20px;
    }
}
