/*Fuente de Logo*/
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.stardos-stencil-regular {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
}
.piazzolla{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100 900;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    min-width: 700px;
}
/* Regla para que siempre tenga el 100 del contenedor osea el figure */
img{
    width: 100%;
    height: 100%;
}
a{
    font-family: "Roboto";
}


nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: white;
    background-color: #243A69;
}
.logo{
    display: flex;
}
.logo a{
    font-family: "piazzola";
    font-weight: bold;
    align-self: center;
    font-size: 30px;
    margin: 5px;
    color: white;
    text-decoration: none;
}
.logo a:hover{
    color: #E87A00;
}
.logo img{
    border-radius:100px;
    width: 70px;
    padding: 3px;
}
.user{
    
    display: flex;
    justify-content:center;
    
}
.user a{
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 15px;
    border: none;
}
.user_menu{ 
    display: none;
    position: absolute;
    top: 60px; left: 90%;
}
.menu_list{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
    background-color: white;
    
}
.menu_list ul {
    margin: 3px;
}
.menu_list ul a{
    color: black;
    text-decoration: none;
}
/*NAV*/
/* HEADER */
.Header{
    height: 650px;
    
    background-image: url(assets/FondoHeader.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
}

.buscador_container{
    min-width: 40%;
}

.Header .buscador{
    display: flex;
    align-items: center;
}

.buscador{
    border: grey solid 2px;
	border-radius: 2rem;
	background-color: #fafafa;
    overflow: hidden;
}
.buscador_container label{
    display: flex;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 15px;
    font-family: 'roboto';
    font-size: 2.3rem;
    font-weight: bold;
    color: rgb(70, 68, 68);
}
.buscador input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    min-width: 450px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.btn-search {
    display: flex;
	font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    background-color: #fafafa;
}

.filtros{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:  #d3d3d35e;
    padding: 10px;
    border-radius: 50px;
}

.filtros i{
    color: #E8810E;
    font-size: 42px;
    justify-content: center;
    display: flex;
    justify-content: center;
}

.filtros a{
    text-decoration: none;
}

.filtros figcaption{
    color: black;
    font-family: "roboto";
    font-size: 0.8rem;
}

/* HEADER */

/* Main */
.Main article h2{
    font-family: 'Piazzolla';
    justify-content: flex-start;
    margin-bottom: 80px;
    font-family: 'roboto';
    font-size: 2.5em;
    text-decoration: none;
    color: white;

}
.Recomendados{
    background-color:#1d467e;
    padding: 50px;
}
.Recomendados section {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.recomendados-card{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid gray;
    width: 420px;
    
    border-radius: 22px;
}

.recomendados-content{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-bottom: 20px;
    
}
.recomendados-content, .recomendados-mainpic{
    width: 90%;
    padding-top: 20px;
    
}
.recomendados-mainpic img{
    border-radius: 8px;

}
.profile img{
    border-radius: 100px;
    

}
.recomendados-profile img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 1px grey solid;
}
.recomendados-title{
    font-family: "roboto";
    font-size: 1.2rem;
}
.recomendados-sub{
    color: grey;
    padding-left: 15px;
}
.testimonios-title{
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: 160px;
    font-family: "roboto";
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: start;
}
.testimonios-title h3{
    font-size: 2.5em;
    color: #3E3D3D;

}
.testimonios-title p{
    font-size: 1.5rem;
    padding: 15px;
    color: #3E3D3D;
}


.opcontainer section{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    
    justify-content: center;
    gap: 35px;
}
.opiniones{
    text-align: center;
    background-color: #FFF8F8;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    max-width: 300px;
    height: 250px;
    font-family: "roboto";
    box-shadow: 0px 2px 4px #b1a4a4;
    gap: 20px;
}
.opiniones h6{
    font-size: 1.5em;
}
.opiniones figure{
    width: 80px;
}

.about-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24508F;
    margin-top: 20px;
}

.about-us h3{
    font-family: 'roboto';
    text-align: center;
    padding: 80px;
    font-size: 2.8rem;
    color: #ffffff;
    font-weight: bolder;
    width: 80%;
    text-decoration: none;
}

.about-us figure{
    display: flex;
    width: auto;
    height: 50%;
    object-fit: contain;
    align-items: flex-end;

}

.about{
    margin-top: 120px;
    display: flex;
}
.about figure{
    width: 1300px;
}

.about-content{
    margin-top: 10px;
    padding-left: 25%;
    display: flex;
    align-items:start;
    flex-direction: column;
    place-content: center;
    gap: 30px;
}

.about-content p{
    font-family: 'roboto';
    font-size: 2.3em;
    color: #243A69;
    font-weight: bolder;
}


.team-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    gap: 35px;
}
.team-container img{
    width: 200px;
    height: 210px;
    border-radius: 13px;

}
.team-container figcaption{
    text-align: center;
    font-size: 1.4rem;
    font-family: 'roboto';
}

/* Main */

/* Estilos para el footer */
footer {
    background-color: #243A69;
    color: white;
    padding: 40px 0;
    font-size: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'roboto';
    max-width: 1400px;
    margin: 50px auto;
}

.footer-info, .footer-social, .footer-contact {
    width: 30%;
    height: 30%;
}

.footer-info h4, .footer-social h4, .footer-contact h4 {
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center; /* Centra el texto de los títulos */
    position: relative; /* Necesario para colocar la línea correctamente */
    
}
.footer-info h4::after, .footer-social h4::after, .footer-contact h4::after {
    content: "";
    display: block;
    width: 90%; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: white; /* Color de la línea */
    margin: 10px auto 0; /* Espaciado entre el título y la línea */
}

.footer-info ul {
    list-style:none;
    padding: 0;
    margin: 10px;
    align-items: flex-start;
}

.footer-info li {
    margin-bottom: 10px;
}

.footer-info a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;

}

.footer-info a:hover {
    text-decoration: underline;
}

/* Estilos para redes sociales */

.footer-social{
    text-align: center; /* Centra el contenido de la sección de redes */

}
.footer-social a {
    display:inline-block;
    color: white;
    font-size: 50px;
    margin: auto 15px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #ccc;
}

/* Estilos para el formulario */
.footer-contact form {
    display: flex;
    flex-direction: column;
}

.footer-contact input, .footer-contact textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

.footer-contact input::placeholder, .footer-contact textarea::placeholder {
    font-size: 14px;
}

.footer-contact button {
    background-color: #24508F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    width: 81%;
    font-size: 15px;
    font-weight: bold;
}

.footer-contact button:hover {
    background-color: #3A4D6B;
}

/* Estilos para el copyright */
.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

/* Footer */