/*Fuente de Logo*/
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Stardos+Stencil:wght@400;700&display=swap');

.stardos-stencil-regular {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
}


/* Reseteo de propiedades */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    font-family: "Stardos Stencil";
}
body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6;
}



nav{
    grid-column: 1/13;
    grid-row: 1;
    display: grid;
    
    padding: 5px;
    color: white;
    background-color: #025959;
}

.logo{
    grid-column: 1/4;
    display: flex;
}
.logo a{
    align-self: center;
    font-size: 30px;
    margin: 5px;
    color: white;
    text-decoration: none;
}
.logo a:hover{
    color: aqua;
}
.logo img{
    border-radius: 50px;
    width: 55px;
    padding: 3px;
}
.user{
    
    grid-column: 13/13;
    display: flex;
    justify-content:center;
    
}
.user a{
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 15px;
    border: none;
}
.user_menu{
    display: none;
    position: absolute;
    top: 60px; left: 1100px;
}
.menu_list{
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid grey;
    background-color: white;
    
}
.menu_list ul {
    margin: 3px;
}
.menu_list ul a{
    
    color: black;
    text-decoration: none;
}





.Header{
    border: 1px solid black;
    grid-column: 1/13;
    grid-row: 2;
}