/*Fuente de Logo*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Stardos+Stencil:wght@400;700&display=swap');

.stardos-stencil-regular {
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
}
.piazzolla{
    font-family: 'Piazzolla';
    font-style: normal;
    font-weight: 100 900;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}  

/* Reseteo de propiedades */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Regla para que siempre tenga el 100 del contenedor osea el figure */
img{
    width: 100%;
    height: 100%;
}
a{
    font-family: "Stardos Stencil";
}
body{




    background-color: #E1EBED;
}




/* Estilos de todo el nav, ordenado en grillas */
nav{
    grid-column: 1/13;
    grid-row: 1;
    display: grid;
    padding: 5px;
    color: white;
    background-color: #243A69;
    width: 100%;
}
.logo{
    grid-column: 1/4;
    display: flex;
}
.logo a{
    font-family: "piazzola";
    font-weight: bold;
    align-self: center;
    font-size: 30px;
    margin: 5px;
    color: white;
    text-decoration: none;
}
.logo a:hover{
    color: #E87A00;
}
.logo img{
    border-radius: 50px;
    width: 60px;
    height: 60px;
    padding: 4px;
}
.user{
    grid-column: 13/13;
    display: flex;
    justify-content:center;
    
}
.user a{
    align-self: center;
    width: 30px;
    height: 30px;
    margin: 15px;
    border: none;
}
.user_menu{ 
    position: absolute;
    top: 60px; left: 83%;
}


/*Estilo del buscador*/

.container-search{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
}


.btn-search i {
    display: flex;
	font-size: 1.5rem;
    border-radius: 50px;

}

.search-form {
    font-family: 'roboto';
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #867f7f;
	border-radius: 2rem;
	background-color: #fafafa;
	height: 3rem;
    width: 50%;
    overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
    width: 95%;
	font-size: 1.2rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form .btn-search {
    background-color: #ffffff;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}


/*Estilo del CHECKBOX*/
.container-filtro{
    font-family: 'roboto';
    display: flex;
    background-color: #ffffff;
	border: 2px solid #867f7f;
    padding: 10px;
    gap: 1rem;
}

.localidad{
    width: 150px;
    border-left: 2px solid #867f7f;
}

.text-title{
    font-size: 16px;
    color: #000000;
    margin: 2rem;
    margin-bottom: 30rem;
}

.list-items{
    margin-top: 0.5rem;
}

.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 24px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 20px;
    border-radius: 8px;
}
.list-items .item:hover{
    background-color: #e7edfe;
}

.item .item-text{
    font-size: 14px;
    width: 90px;
    font-weight: 400;
    color: #333;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 10px;
    border: 1.5px solid #313030;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
}
.checkbox .check-icon{
    color: #ffffff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}


/*Estilo del MAIN*/

.Main{
    background-color: #ffffff;
    border: 1.5px solid #243A69;
    padding: 2rem;
    margin: 1.5rem;
    border-radius: 20px;
    justify-content: center;
    font-family: 'roboto';
    
}

/*Estilo del CARDS TECNICOS*/

.card-profesional {
    display: flex;
    box-shadow: 2px 2px 2px 1px #969292;
    
    border-radius: 20px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    gap: 1px;
}

.conteiner-info{
    width: 77%;
}

.card-profesional section {
    width: 18%;
}

.img-profesional{
    width: 5%;
    height: 5%;
}

.conteiner-info .text{
    font-size: 18px;
    margin-bottom: 2rem;
    color: #000000;
}

.conteiner-info h4{
    font-size: 14px;
    color: #5E5E5E;
    display: flex;
    align-items: center;
}

.conteiner-info h3{
    margin: 15px;
    font-size: 12px;
    color: #5E5E5E;
    display: flex;
    align-items: center;
}

.conteiner-info h2{
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: 22px;
    color: #000000;
}



.consulta {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: end;
}

.consulta button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 25px;
    color: #f3f3f3;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: #243A69;
    cursor: pointer;
}

.consulta button:hover{
    background-color: #E87A00;

}

.nombre-stars {
    display: flex;
    width: 60%;
    height: 50px;
}

.star-act{
    display: flex;
    align-items: center;
    color: #E87A00;
}
.star-inact{
    display: flex;
    align-items: center;
    color: #D9D9D9 ;

}


.card-profesional .fa-heart{
    display: flex;
    justify-content: end;
    align-items: center;
    color: #D9D9D9;
}

.card-profesional .fa-heart:hover{
    color: #000000;
}


/* Estilos para el footer */
footer {
    background-color: #243A69;
    color: white;
    padding: 40px 0;
    font-size: 30px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1400px;
    margin: 50px auto;
    font-family: 'roboto';
}

.footer-info, .footer-social, .footer-contact {
    width: 30%;
    height: 30%;
}

.footer-info h4, .footer-social h4, .footer-contact h4 {
    font-weight: bold;
    margin-bottom: 60px;
    text-align: center; /* Centra el texto de los títulos */
    position: relative; /* Necesario para colocar la línea correctamente */
    
}
.footer-info h4::after, .footer-social h4::after, .footer-contact h4::after {
    content: "";
    display: block;
    width: 90%; /* Ancho de la línea */
    height: 2px; /* Grosor de la línea */
    background-color: white; /* Color de la línea */
    margin: 10px auto 0; /* Espaciado entre el título y la línea */
}

.footer-info ul {
    list-style:none;
    padding: 0;
    margin: 10px;
    align-items: flex-start;
}

.footer-info li {
    margin-bottom: 10px;
}

.footer-info a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;

}

.footer-info a:hover {
    text-decoration: underline;
}

/* Estilos para redes sociales */

.footer-social{
    text-align: center; /* Centra el contenido de la sección de redes */

}
.footer-social a {
    display:inline-block;
    color: white;
    font-size: 50px;
    margin: auto 15px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #ccc;
}

/* Estilos para el formulario */
.footer-contact form {
    display: flex;
    flex-direction: column;
}

.footer-contact input, .footer-contact textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    align-self: center;
    font-family: 'Roboto', sans-serif;
}

.footer-contact input::placeholder, .footer-contact textarea::placeholder {
    font-size: 14px;
}

.footer-contact button {
    background-color: #24508F;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    width: 81%;
    font-size: 15px;
    font-weight: bold;
}

.footer-contact button:hover {
    background-color: #3A4D6B;
}

/* Estilos para el copyright */
.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

/* Footer */





